<div class="body">
	<div class="header_block_transaction">
		<p>Send Money</p>
		<button>Add Connection</button>
	</div>
	<div class="block_transaction">
    			<select id="menu">
        			<option value="">Select A Connection</option>
        			<option value="option2">Option 2</option>
        			<option value="option3">Option 3</option>
        			<option value="option4">Option 4</option>
   		 	</select>
			<button>Play</button>
	</div>

<p>My Transactions</p>

<div class="block_historique_transfert">
<table>

        <thead>
            <tr>
                <th>Connection</th>
                <th>Description</th>
                <th>Amount</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Donnée 1</td>
                <td>Donnée 2</td>
                <td>Donnée 3</td>
            </tr>
            <tr>
                <td>Donnée 4</td>
                <td>Donnée 5</td>
                <td>Donnée 6</td>
            </tr>
            <tr>
                <td>Donnée 7</td>
                <td>Donnée 8</td>
                <td>Donnée 9</td>
            </tr>
        </tbody>
    </table>
</div>
