<div class="body">
	<div class="header_block_transaction">
		<p>Send Money</p>
		<button>Add Connection</button>
	</div>
	<div class="block_transaction">
    			<select id="menu">
        			<option value="">Select A Connection</option>
        			<!--<option *ngFor="let element of relations" [value]="element.userId">{{userNamesMap[element.userRelationId]}}</option> -->
        			<option *ngFor="let element of relations" [value]="element.userId">{{element.userRelationId}}</option>
   		 	</select>
          <input type ="number"/>
			<button>Play</button>
	</div>

<p>My Transactions</p>

<div class="block_historique_transfert">
<table>

        <thead>
            <tr>
                <th>Connection</th>
                <th>Description</th>
                <th>Amount</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let element of transactions">
              <td>{{userNamesMap[element.userIdTransaction]}}</td>
                <td>{{element.transactionDescription}}</td>
                <td>{{element.transactionSum}}</td>
            </tr>
        </tbody>
    </table>
</div>
</div>
